@{
    ViewBag.Title = "Project App";
}

<div class="jumbotron">
    <h1>Project App</h1>
    <p class="lead">Project App es una aplicación web que permite gestionar sus proyectos de forma sencilla y potente</p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <h2>Factor</h2>
            <p>Gestion de factores</p>
            <p><a class="btn btn-primary" href="@Url.Action("Index", "Factor")">Pantalla de factores</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <h2>Gerente</h2>
            <p>Gestión de gerentes</p>
            <p><a class="btn btn-primary" href="#">Pantalla de gerentes</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <h2>Proyecto</h2>
            <p>Gestión de proyectos</p>
            <p><a class="btn btn-primary" href="#">Pantalla de proyectos</a></p>
        </div>
    </div>
</div>
